/* header {
    display: flex;
    margin: auto;
    background-color: #fff;
    padding: 20px 0px;
    color:rgba(210, 115, 7, 0.901);
    font-weight: 900;
} */

h1 {
    text-align: center;
}


/* #logo-fca {
    width: 15%;
    padding-top: 50px;
} */

#logo {
    margin: auto;
    padding: 150px 0px 60px 0px;
    font-size: 76px;
    color: rgb(253, 234, 206);
    font-family: 'Big Shoulders Inline Display', cursive;
    font-family: 'Train One', cursive;
    font-family: 'Tourney', cursive;
    animation: showLogo 5s linear 1;
}

@keyframes showLogo {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.button-geral {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px lightgray solid;
    background-color: rgb(254, 247, 235);
    margin-top: 40px;
    color:rgb(86, 83, 83);
    animation: showChamada 5s linear 1;
    text-transform: uppercase;
    font-weight: 600;
}    
    /*
    
   */

/* MENU */

#menu-navegacao {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 1.7rem 0;
    opacity: .95;
}

.menu-interno {
  display: flex;
  width: 80vh;
  justify-content: space-around;
}

.nav-itens {
    text-decoration: none;
    list-style: none;
    color: rgb(47, 47, 47);
    font-weight: 500;
}

.nav-itens:hover {
    opacity: .6;
}


/* CHAMADA */

#chamada {
    background-image: linear-gradient(rgba(4, 91, 142, 0.846), rgba(124, 83, 2, 0.846)),
    url("../img/fca-main.jpg");
    object-fit: cover;
    height: 700px; 
    background-position: bottom ;
    text-align: center;
    padding: 5rem 10rem;
    background-attachment: fixed;
}

#chamada h1 {
    color: white;
    font-size: 35px;
    max-width: 900px;
    margin: 0 auto;
    animation: showChamada 5s linear 1;
}

@keyframes showChamada {
  0% {
    /* transform: scale(1.3); */
    opacity: 0;
  }
  50% {
    /* transform: scale(1.5); */
    opacity: 0.5;
  }
  100% {
    /* transform: scale(1); */
    opacity: 1;
  }
}


/* PRONTOS */

#prontos {
    background-color: rgb(253, 247, 240);
    text-align: center;
}


#prontos h1 {
    text-align: center;
    padding: 5rem 20rem;
    font-size: 40px;
}

#prontos img {
    height: 7rem;
    margin: 3rem;
}

#prontos-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila {
    display: flex;
    justify-content: space-around;
}

#btn-org {
      justify-content: center;  
      margin-bottom: 50px;
      background-color: #fff;
}



/* TESTEMUNHAS */

#testemunhas {
    background-color: rgb(234, 234, 234);
    padding: 100px 0px;
}

.carousel {
    height: 300px;
    background-color: rgb(234, 234, 234);
    text-align: center;
    padding: 0px 200px;
}

.carousel p {
    color: #000;
}

.carousel button {
    color: #000;
}


.slide-info{
    margin-top: 70px;
    font-size: 22px;
    padding: 0px 200px;
}


/*COMPETÊNCIAS*/

#competencias {
    background-color: rgb(234, 234, 234);
    padding: 50px 0px;
    text-align: center;
}

#competencias-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

.btn-fila button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px lightgray solid;
    background-color: #fff;
}

.btn-fila button:hover {
    background-color: rgb(253, 247, 240);
}

/* FOOTER */

footer {
      display: flex;
      background-color: rgb(253, 247, 240);
      height: 150px;
      flex-direction: row;
      padding: 50px 80px;
      justify-content:space-between;
}

footer p {
    color: rgb(153, 152, 151);
    font-size: 20px;
}

#logo-footer {
    font-size: 20px;
    color: #000;
    font-family: 'Tourney', cursive;
}

#direitos {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 30%;
}

footer svg {
    margin: 0px 10px;
}


/*PÁGINA FORMS*/

#forms {
    padding: 7rem 16rem;
    background-color: rgb(249, 248, 248);
}

#forms h3 {
    font-size: 22px;
}

#forms h1, #forms h3  {
    margin-bottom: 50px;
}

form {
    align-items: center;
}







/*MENU*/

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }


      /*PÁGINA ORGANIZAÇÕES*/

      #organizacoes {
          padding: 8rem 15rem;
          background-color: rgb(249, 248, 248);
      }

      .card {
        margin: 2rem 1rem;
      }

      .black {
        color: black;
      }

      #img-organizacoes {
        margin-top: 70px;
        background-image: linear-gradient(rgba(176, 119, 4, 0.741), rgba(176, 119, 4, 0.741)),
        url("../img/fca-main.jpg");
        object-fit: cover; 
        background-position: bottom right;
        text-align: center;
        padding-top: 70px;
        height: 200px;
        color:#fff;
      }

      .organizacoes-row {
        display:flex;
        justify-content: space-around;
      }

      .logo-organizacoes {
        margin: auto;
        padding: 20px;
      }
     

      /*PÁGINA PROJETOS */

      #img-projetos {
        margin-top: 70px;
        background-image: linear-gradient(rgba(3, 120, 126, 0.741), rgba(3, 120, 126, 0.741)),
        url("../img/fca-main.jpg");
        object-fit: cover; 
        background-position: center left;
        text-align: center;
        padding-top: 70px;
        height: 200px;
        color:#fff;
      }



      /*PÁGINA PROJETOS ABERTOS*/

      #img-projetos-aberto {
        margin-top: 70px;
        background-image: linear-gradient(rgba(46, 123, 2, 0.741), rgba(46, 123, 2, 0.741)),
        url("../img/fca-main.jpg");
        object-fit: cover; 
        background-position: center right;
        text-align: center;
        padding-top: 70px;
        height: 200px;
        color:#fff;
      }

      .expandir {
        margin-top: 10px;
      }


      /*PÁGINA CADASTRO*/

      
      #img-cadastro {
        margin-top: 70px;
        background-image: linear-gradient(rgba(140, 48, 2, 0.741), rgba(140, 48, 2, 0.741)),
        url("../img/fca-main.jpg");
        object-fit: cover; 
        background-position: bottom left;
        text-align: center;
        padding-top: 70px;
        height: 200px;
        color:#fff;
      }


      /*MEDIA QUERIES*/


      @media (max-width: 1600px) {

       /* 
        #menu-navegacao {
          background-color: rgb(86, 243, 55);
        }
        */

        #organizacoes {
          padding: 5rem 10rem;
      }

      #forms {
        padding: 5rem 10rem;
        background-color: rgb(249, 248, 248);
    }

      }

      @media (max-width: 1350px) {

        
        #menu-navegacao {
          background-color: rgb(243, 216, 96);
        }
        


        #forms {
        padding: 3rem 7rem;
        background-color: rgb(249, 248, 248);
      }

          #organizacoes {
          padding: 5rem 5rem;
      }

        #prontos h1 {
             padding: 5rem 10rem;
        }

         #direitos {
            display: none;
      }

        footer {
           justify-content:center;
        }


       @media (max-width: 1050px) {
        
        
        #menu-navegacao {
          background-color: aqua;
        }

        .btn-fila button {
          margin: 7px;
          padding: 10px 20px;
          border-radius: 50px;
          border: 1px lightgray solid;
          background-color: #fff;
        }
        

        #forms {
        padding: 3rem 5rem;
        background-color: rgb(249, 248, 248);
      }
             
        .organizacoes-row p {
          font-size: .75rem;
        }

         #organizacoes {
          padding: 3rem 3rem;
         }

         #organizacoes ul {
            display: none;
         }

}
      
      
      }


      @media (max-width: 900px) {
        
        
        #menu-navegacao {
          background-color: rgb(228, 133, 133);
        }

        .btn-fila button {
          margin: 3px;
          padding: 5px 10px;
          border-radius: 50px;
          border: 1px lightgray solid;
          background-color: #fff;
        }

        #prontos h1 {
          text-align: center;
          padding: 5rem 5rem;
          font-size: 35px;
}

        #prontos img {
          height: 5rem;
          margin: 2rem;
        }

          #prontos-wrap {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .button-geral {
          margin-top: 3rem 0 0 0;
        }


        #chamada {
           height: 600px; 
           padding: 2rem 5rem;
           background-attachment: fixed;
        }

#chamada h1 {
    color: white;
    font-size: 2rem;
    max-width: 900px;
}



#menu-navegacao {
  
    justify-content: space-around;
    padding: 1.2rem 0;
    opacity: .95;
}

.menu-interno {
  display: flex;
  width: 100vh;
  justify-content: space-around;
  font-size: .85rem;
}



      }

      @media (max-width: 700px) {
        
        
        #menu-navegacao {
          background-color: rgb(233, 245, 64);
        }
        
        #chamada {
        padding: 0 2rem;
        background-attachment: fixed;
       
}


         #prontos h1 {
          text-align: center;
          padding: 5rem 5rem;
          font-size: 35px;
}

        #prontos img {
          height: 5rem;
          margin: 1rem;
        }

          

#chamada h1 {
    color: white;
    font-size: 1.5rem;
    max-width: 900px;
}


        .menu-interno {
  
          font-size: .70rem;
}

        #forms {
        padding: 2rem 3rem;
        background-color: rgb(249, 248, 248);
      }

        #forms p {
          font-size: .85rem;
        }

        .organizacoes-row {
          flex-direction: column;
        }
      }